body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100PX;
    
}


header{
    border-bottom: solid 2px green;
    padding: 20px;
    font-size: 32px;
    color: green;
}

.ney{
    
    background: rgb(74,181,74);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

.najulia{

    margin-right: 5%;
}

h1{

    font-size: 40px;
}

p{

    font-size: 20px;
}

img{ 

    height: 200px;
}

.cat-vid{

display: flex;
overflow-x: auto;
gap: 9px;
}

.mar{

    padding-left: 20px;
    padding-right: 20px;
    margin-top:50px;
}

.mar img{
    
    opacity: 0.5;
    height: 200px;
}

.mar img:hover{

    opacity:1.0;
    border: 2px solid purple;
}

.mar h2{

    color: green;
}

